<div class="page" data-name="tabs">


    <div class="toolbar tabbar toolbar-bottom">
        <div class="toolbar-inner">
            <!-- additional "data-route-tab-id" must match to tab's ID in the specified routes -->
            <a href="/tabs/" class="tab-link" data-route-tab-id="tab_messages">Сообщения</a>
            <a href="/tabs/tab_friends/" class="tab-link" data-route-tab-id="tab_friends">Друзья</a>
            <a href="/tabs/tab_profile/" class="tab-link" data-route-tab-id="tab_profile">Профиль</a>
        </div>
    </div>
    <div class="tabs tabs-routable">
        <div class="tab page-content" id="tab_messages"></div>
        <div class="tab page-content" id="tab_friends"></div>
        <div class="tab page-content" id="tab_profile"></div>
    </div>
</div>
