<template>
    <div class="page" data-name="tab_friends" id='view-friends'>
        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="title">Ваш профиль</div>
                <div class="right">
                    <a href="#" class="link log-out" @click='logout'><i class="material-icons">exit_to_app</i></a>
                </div>
            </div>
        </div>
        <div class="page-content">
            <div class="user-container">
                <div class="user-item">
                    <div class="card profile-card">
                        <div style="background-image:url('{{this.avatar}}')"
                            class="card-header align-items-flex-end users-name white">{{this.name}}</div>
                        <div class="card-content">
                            <div class="list">
                                <ul>
                                    <li>
                                        <a href="#" @click='editProfile("city", "Город")'
                                            class="item-link item-content">
                                            <div class="item-inner">
                                                <div class="item-title">
                                                    <div class="item-header">Город</div>
                                                    {{this.city}}
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" @click='editProfile("faculty", "Факультет")'
                                            class="item-link item-content">
                                            <div class="item-inner">
                                                <div class="item-title info">
                                                    <div class="item-header">Факультет</div>
                                                    {{this.faculty}}
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" @click='editProfile("study_group", "Студенческая группа")'
                                            class="item-link item-content">
                                            <div class="item-inner">
                                                <div class="item-title info">
                                                    <div class="item-header">Студенческая группа</div>
                                                    {{this.study_group}}
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" @click='editProfile("about", "О себе")'
                                            class="item-link item-content">
                                            <div class="item-inner">
                                                <div class="item-title info">
                                                    <div class="item-header">О себе</div>
                                                    {{this.about}}
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/friends/{{id}}/" class="item-link item-content">
                                            <div class="item-inner">
                                                <div class="item-title">Друзья</div>
                                                <div class="item-after">
                                                    {{this.count}}
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class='separator'></div>
                            <div class="card-content-link" @click='editName'>Изменить имя</div>
                            <div class="card-content-link" @click='editAvatar'>Изменить фото</div>
                            <div class="card-content-link edit-password" @click='editPassword'>Изменить пароль</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="notes-container">
                <div class="card notes-item">
                    <div class="card-header">Новая заметка</div>
                    <div class="text-editor notes-editor-init">
                        <div class="text-editor-content" contenteditable></div>
                    </div>
                    <div class="card-footer"><a href="#" class="link" @click='submitNotesEditor'>Отправить</a></div>
                </div>
                {{#each notesArray}}
                <div class="card notes-item">
                    <div class="card-header">
                        <div class="notes-item-avatar"><img src="{{this.avatar}}" width="34" height="34" />
                        </div>
                        <div class="notes-item-name">{{this.name}}</div>
                        <div class="notes-item-date">{{this.date}}</div>
                    </div>
                    <div class="card-content card-content-padding">
                        <p>{{this.text}}</p>
                    </div>
                    <div class="card-footer"><a href="#" class="link" @click='deleteNotes({{this.id}})'>Удалить</a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</template>
<script>
    return {
        mounted() {
            var self = this;
            this.getData()
            var notesEditor = app.textEditor.create({
                el: '.notes-editor-init',
                mode: 'popover',
                buttons: ["bold", "italic", "underline", "strikeThrough"],
                placeholder: 'Введите текст...',
            })
            self.$setState({ notesEditor: notesEditor })
        },
        data: function () {
            return {
                id: window.localStorage.getItem("id"),
                name: window.localStorage.getItem("user_name"),
                avatar: window.localStorage.getItem("user_avatar"),
                city: null,
                faculty: null,
                study_group: null,
                about: null,
                count: null,
                mutual: null,
                notesEditor: null,
                notesArray: [],
            }
        },
        methods: {
            getData: function () {
                var self = this;
                ajax_api("friends.getUser", {
                    user_id: this.id
                }).then(function (response) {
                    console.log(response)
                    if (response.user === false)
                        $$('#view-user .searchbar-not-found').css('display', 'block');
                    else
                        self.$setState({
                            city: response.user.city !== null ? response.user.city : 'Заполните поле',
                            faculty: response.user.faculty !== null ? response.user.faculty : 'Заполните поле',
                            study_group: response.user.study_group !== null ? response.user.study_group : 'Заполните поле',
                            about: response.user.about !== null ? response.user.about : 'Заполните поле',
                            count: response.user.count,
                            mutual: response.user.mutual,
                            notesArray: response.notes
                        });
                })
            },
            logout: function () {
                var self = this;
                self.$app.dialog.confirm('Действительно выйти из аккаунта?', function () {
                    self.$app.dialog.alert('Пока!');
                    self.$localStorage.clear();
                    self.$app.loginScreen.open(".login-screen", 1)
                });
            },
            editName: function () {
                var self = this;
                self.$app.dialog.prompt('Введите Ваше новое имя', function (name) {
                    self.$app.dialog.confirm('Поменять имя на: ' + name + '?', function () {

                        ajax_api("user.edit.name", {
                            name: name
                        }).then(function (otv) {
                            window.localStorage.setItem("user_name", name);
                            self.$setState({
                                name: name
                            })
                            self.$app.dialog.alert('Теперь Вы: ' + name);
                        },
                            function (error) { });
                    });
                });
            },
            editAvatar: function () {
                var self = this;
                self.$app.sheet.create({
                    el: '.load-ava-sheet-swipe-to-close',
                    swipeToClose: true,
                    backdrop: true,
                }).open();

                var files;
                $$('.load-ava-sheet-swipe-to-close input[type=file]').on('change', function () {
                    files = this.files;
                });
                $$('.load-ava-sheet-swipe-to-close .upload_files').on('click', function (event) {

                    event.stopPropagation();
                    event.preventDefault();

                    if (typeof files == 'undefined') return;

                    var data = new FormData();


                    Object.keys(files).forEach(function (key) {
                        console.log(files[key]);
                        data.append(key, files[key]);
                    });


                    data.append('my_file_upload', 1);
                    data.append('id', window.localStorage.getItem("id"));
                    data.append('key', window.localStorage.getItem("key"));

                    app.request({
                        url: HOST + "/api/v1/upload_avatar.php",
                        type: 'POST',
                        data: data,
                        cache: false,
                        dataType: 'json',
                        crossDomain: true,
                        success: function (respond, status, jqXHR) {

                            if (typeof respond.error === 'undefined') {
                                var files_path = respond.files;
                                var html = '';

                                if (respond.success == 1) {
                                    app.sheet.close();

                                    $$('.ajax-reply').html('Фото загружено!');

                                    self.$setState({
                                        avatar: respond.url
                                    })
                                }

                            } else {
                                console.log('ОШИБКА: ' + respond.error);
                            }
                        },
                        error: function (jqXHR, status, errorThrown) {
                            console.log('ОШИБКА AJAX запроса: ' + status, jqXHR);
                        }
                    });

                });


            },
            editPassword: function () {
                var self = this;
                self.$app.dialog.create({
                    title: 'Поменять пароль',
                    text: '<div class="list no-hairlines-md"><p>Придумайте новый пароль и укажите его ниже.</p><ul><li class="item-content item-input item-input-with-info"><div class="item-inner"><div class="item-input-wrap"><input type="password" class="new_rn_pass" maxlength="99" placeholder=""><span class="input-clear-button"></span><div class="item-input-info">Новый пароль</div></div></div></li><li class="item-content item-input item-input-with-info"><div class="item-inner"><div class="item-input-wrap"><input type="password" class="new_rn2_pass" maxlength="99" placeholder=""><span class="input-clear-button"></span><div class="item-input-info">Новый пароль еще раз</div></div></div></li></ul></div>',
                    buttons: [{
                        text: 'Отмена',
                        onClick: function () {
                            return 0;
                        }
                    }, {
                        text: 'Продолжить',
                        close: false,
                        onClick: function () {
                            if ($$('.new_rn_pass').val().length <= 3) {
                                alert_app('Введенный пароль слишком короткий');
                                $$('.new_n_pass').focus();
                                return;
                            }
                            if ($$('.new_rn2_pass').val().length <= 3) {
                                alert_app('Введенный пароль слишком короткий');
                                $$('.new_n2_pass').focus();
                                return;
                            }
                            if ($$('.new_rn_pass').val() != $$('.new_rn2_pass').val()) {
                                alert_app('Введите одинаковые пароли в 2-х полях');
                                $$('.new_n_pass').focus();
                                return;
                            }
                            self.$app.preloader.show();
                            ajax_api("auth.edit.pass", {
                                'password': $$('.new_rn_pass').val()
                            }).then(function (otv) {
                                self.$app.preloader.hide();

                                if (otv.success) {
                                    alert_app('Пароль был изменен!');
                                    self.$app.dialog.close();

                                    window.localStorage.setItem("id", otv.id);
                                    window.localStorage.setItem("key", otv.key);
                                    my_id = otv.id;

                                    self.$app.popup.close();
                                    // app_init();

                                }
                                if (otv.error_title) {
                                    alert_app(otv.error_title);
                                }
                            },
                                function (error) {
                                    self.$app.preloader.hide();
                                });
                        }
                    },],
                }).open();
            },
            openAlert: function () {
                var self = this.$app.dialog.alert('Hello world!');
            },
            editProfile: function (type, action) {
                console.log(type)
                var self = this;
                self.$app.dialog.prompt('Введите новое значение', action, function (value) {
                    console.log(value)
                    ajax_api("user.edit.profile", {
                        type: type,
                        value: value
                    }).then(function (otv) {
                        console.log(otv)
                        self.$setState({
                            [type]: value !== '' ? value : 'Заполните поле'
                        })
                        self.$app.dialog.alert('Информация обновлена');
                    },
                        function (error) { });
                });
            },
            submitNotesEditor: function () {
                let notesValue = this.notesEditor.getValue()
                to = this.id
                var self = this;
                if (notesValue == '')
                    self.$app.dialog.alert('Введите текст...', 'Новая заметка');
                else {
                    ajax_api("user.notes.add", {
                        to: to,
                        text: notesValue
                    }).then(function (otv) {
                        if (otv.success == 1) {
                            self.getData()
                            self.notesEditor.setValue('')
                        }

                    },
                        function (error) { });
                }
                //this.notesEditor.setValue('')
            },
            deleteNotes: function (id) {
                var self = this;
                ajax_api("user.notes.delete", {
                    notes_id: id,
                }).then(function (otv) {
                    if (otv.success == 1) {
                        self.getData()
                    }
                },
                    function (error) { });
            }
        },
    }
</script>