<template>
    <div class="page" data-name="tab_messages">
        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="title">Сообщения</div>
                <div class="right">
                    <!-- Link to enable searchbar -->
                    <a class="link icon-only searchbar-enable" data-searchbar=".searchbar">
                        <i class="icon f7-icons if-not-md">search</i>
                        <i class="icon material-icons md-only">search</i>
                    </a>
                </div>
                <form data-search-container=".chat-list" data-search-item="li" data-search-in=".item-title" class="searchbar searchbar-init searchbar-expandable">
                    <div class="searchbar-inner">
                        <div class="searchbar-input-wrap">
                            <input type="search" placeholder="Поиск по диалогам" />
                            <i class="searchbar-icon"></i>
                            <span class="input-clear-button"></span>
                        </div>
                        <span class="searchbar-disable-button if-not-aurora">Cancel</span>
                    </div>
                </form>
            </div>
        </div>
        <div class="page-content">
            <a @click="openAlert">Open Alert</a>

            <a class="link" href="/tabs/">tabs</a>

            <div class="list media-list chat-list no-margin">
                <ul>
                    {{#each dialogList}}
                        <li>
                        <a href="/messages/{{this.id}}/" class="item-link item-content">
                             <div class="item-media"><img src="{{this.avatar}}" width="44"></div>
                             <div class="item-inner">
                                 <div lass="item-title-row">
                                     <div class="item-title title-name">{{this.title}}</div>
                                     <div class="item-after">{{this.date}}</div>
                                 </div>
                                 <div class="item-text">{{this.from}}</div>
                                 <div class="item-subtitle">{{this.body}}</div>
                             </div>
                         </a>
                     </li>
                    {{/each}}



                </ul>
            </div>
        </div>
    </div>
</template>
<!-- component styles -->
<style>
    .red-link {
        color: red;
    }

</style>
<!-- rest of component data and methods -->
<script>
    // script must return component object
    return {
        mounted() {
            this.getData()
            console.log('componentMounted', this);
            var searchbar = app.searchbar.create({
                el: '.searchbar',
                searchContainer: '.chat-list',
                searchIn: '.title-name',
            })
        },
        data: function() {
            return {
                dialogList: [],
            }
        },
        methods: {
            openAlert: function() {
                var self = this.$app.dialog.alert('Hello world!');
            },
            getData: function() {
                var self = this;
                ajax_api("messages.get_list", {}).then(function(response) {

                    window.localStorage.setItem("user_name", response.user_name);
                    window.localStorage.setItem("user_avatar", response.user_avatar);

                    firebase_messages_init(response.token_firebase);


                    if (!Object.keys(response.data).length) alert_app('Диалогов нет');

                    // сюда надо так: если  response.private == 0, то перед response.id поставить - (минус)
                    // Было так:
                    // var pr = (item["private"] == 1) ? '' : '-';

                    self.$setState({
                        dialogList: response.data,
                    });
                })
            },
        },
        on: {
            pageInit: function() {
                // do something on page init
                console.log('+')
            },
            pageAfterOut: function() {
                // page has left the view
            },
        }
    }

</script>
