<template>
    <div class="page" id='view-search'>
        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="if-not-md">Back</span>
                    </a>
                </div>
                <div class="title">Поиск</div>
                <div class="right">
                    <a class="link icon-only searchbar-enable" data-searchbar=".searchbar1">
                        <i class="icon f7-icons if-not-md">search</i>
                        <i class="icon material-icons md-only">search</i>
                    </a>
                </div>
                <form class="searchbar searchbar1 searchbar-init searchbar-expandable">
                    <div class="searchbar-inner">
                        <div class="searchbar-input-wrap">
                            <input type="search" placeholder="Поиск" />
                            <i class="searchbar-icon"></i>
                            <span class="input-clear-button"></span>
                        </div>
                        <span class="searchbar-disable-button if-not-aurora">Cancel</span>
                    </div>
                </form>
            </div>
        </div>
        <div class="page-content">
            <div class="list">
                <ul>
                    <li class="accordion-item"><a href="#" class="item-content item-link">
                            <div class="item-inner">
                                <div class="item-title filter">Фильтры</div>
                            </div>
                        </a>
                        <div class="accordion-item-content">
                            <div class="block">
                                <ul>
                                    <li class="item-content item-input item-input-outline">
                                        <div class="item-inner">
                                            <div class="item-title item-floating-label">По городу</div>
                                            <div class="item-input-wrap searchbar-city searchbar-inline">
                                                <input type="search" placeholder="Саратов">
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item-content item-input item-input-outline">
                                        <div class="item-inner">
                                            <div class="item-title item-floating-label">По факультету</div>
                                            <div class="item-input-wrap searchbar-faculty searchbar-inline">
                                                <input type="search" placeholder="Мехмат">
                                            </div>
                                        </div>
                                    </li>
                                    <li class="item-content item-input item-input-outline">
                                        <div class="item-inner">
                                            <div class="item-title item-floating-label">По группе</div>
                                            <div class="item-input-wrap searchbar-group searchbar-inline">
                                                <input type="search" placeholder="442">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="list users-list">
                <ul>
                    {{#each usersList}}
                    <li>
                        <div class="card">
                            <a href='/user/{{id}}/'>
                                <div style="background-image:url({{this.avatar}})"
                                    class="card-header align-items-flex-end users-name white">{{this.name}}</div>
                            </a>
                            <div class="card-content">
                                {{#js_if "this.city != null"}}
                                <a href="#" class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title info search-city">
                                            <div class="item-header">Город</div>
                                            {{this.city}}
                                        </div>
                                    </div>
                                </a>
                                {{/js_if}}
                                {{#js_if "this.faculty != null"}}
                                <a href="#" class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title info search-faculty">
                                            <div class="item-header">Факультет</div>
                                            {{this.faculty}}
                                        </div>
                                    </div>
                                </a>
                                {{/js_if}}
                                {{#js_if "this.study_group != null"}}
                                <a href="#" class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title info search-group">
                                            <div class="item-header">Студенческая группа</div>
                                            {{this.study_group}}
                                        </div>
                                    </div>
                                </a>
                                {{/js_if}}
                                <a href="/friends/{{id}}/" class="item-link item-content">
                                    <div class="item-inner">
                                        <div class="item-title">Друзья</div>
                                        <div class="item-after">
                                            {{this.count}}
                                            {{#js_if "this.mutual != 0"}}
                                            (общие {{this.mutual}})
                                            {{/js_if}}
                                        </div>
                                    </div>
                                </a>
                                {{#js_if "this.type == 0"}}
                                <div class="card-content-link" @click='addFriend({{id}})'>Добавить в друзья</div>
                                {{/js_if }}
                                {{#js_if "this.type == 1"}}
                                <div class="card-content-link" @click='acceptRequest({{id}}, 2)'>Добавить в друзья</div>
                                <div class="card-content-link red" @click='acceptRequest({{id}}, 0)'>Отклонить заявку
                                </div>
                                {{/js_if }}
                                {{#js_if "this.type == 2"}}
                                <div class="card-content-link"><a href='/messages/{{id}}/'>Написать</a></div>
                                <div class="card-content-link" @click='inviteChat({{id}})'>Пригласить</div>
                                <div class="card-content-link red" @click='deleteFriend({{id}})'>Удалить из друзей</div>
                                {{/js_if }}
                                {{#js_if "this.type == 4"}}
                                <div class="card-content-link red" @click='deleteFriend({{id}})'>Отменить заявку
                                </div>
                                {{/js_if }}
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>

            <div class="list simple-list searchbar-not-found">
                <ul>
                    <li>
                        <div class="card">
                            <div style="background-image:url('/img/not_pictured.jpg')"
                                class="card-header align-items-flex-end friends-name white"></div>
                            <div class="card-content">
                                <div class='card-content-item'>Нет пользователей</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>
<script>
    return {
        mounted() {
            this.getData(this.$route.params.id)
            var searchbar = app.searchbar.create({
                el: '.searchbar1',
                searchContainer: '.users-list',
                searchIn: '.users-name',
            })
            var searchbar_city = app.searchbar.create({
                el: '.searchbar-city',
                searchContainer: '.users-list',
                searchIn: '.search-city',
            })
            var searchbar_faculty = app.searchbar.create({
                el: '.searchbar-faculty',
                searchContainer: '.users-list',
                searchIn: '.search-faculty',
            })
            var searchbar_group = app.searchbar.create({
                el: '.searchbar-group',
                searchContainer: '.users-list',
                searchIn: '.search-group',
            })
        },
        data: function () {
            return {
                usersList: [],
                invite_user: null,
            }
        },
        methods: {
            getData: function (id) {
                var self = this;
                ajax_api("user.getFriends", {user_id: id}).then(function (response) {
                    if (!Object.keys(response.users).length)
                        $$('#view-search .searchbar-not-found').css('display', 'block');

                    self.$setState({
                        usersList: response.users,
                    });
                })
            },
            deleteFriend: function (id) {
                var self = this;
                ajax_api("friends.deleteFriend", {
                    to: id
                }).then(function (response) {
                    if (response.error !== undefined)
                        self.$app.dialog.alert(response.error.messages);
                    else
                        self.getData()
                })
            },
            acceptRequest: function (id, type) {
                var self = this;
                ajax_api("friends.acceptRequest", {
                    from: id,
                    type: type
                }).then(function (response) {
                    if (response.error !== undefined)
                        self.$app.dialog.alert(response.error.messages);
                    else
                        self.getData()
                })
            },
            addFriend: function (id) {
                var self = this;
                ajax_api("friends.addFriend", {
                    to: id
                }).then(function (response) {
                    if (response.error !== undefined)
                        self.$app.dialog.alert(response.error.messages);
                    else
                        self.getData()
                })
            },
            inviteChat: function (id) {
                var self = this;
                self.$setState({
                    invite_user: id
                });
                self.$app.popup.create({
                    content: '<div class="popup person_add">' +
                        '<div class="toolbar">' +
                        '<div class="toolbar-inner">' +
                        '<div class="left"></div>' +
                        '<div class="right">' +
                        '<a class="link popup-close">Закрыть</a>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '<div class="popup-modal-inner">' +
                        '<div class="block ">' +
                        '<div class="block-title">Добавить друга в чат:</div>' +
                        '<div class="block block-strong text-align-center preloader_cont"><div class="preloader color-multi"><span class="preloader-inner"><span class="preloader-inner-gap"></span><span class="preloader-inner-left"><span class="preloader-inner-half-circle"></span></span><span class="preloader-inner-right"><span class="preloader-inner-half-ircle"></span></span>  </span></div></div>' +
                        '<div class="list media-list person_add_list">' +
                        '<ul>' +
                        '</ul>' +
                        '<div class="block float-right"><button class="col button button-outline addChatUser">Добавить</button></div>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '</div>'
                }).open();
                $$('.addChatUser').on('click', function () {
                    let invite_chat = $$('.person_add_list input[name="chat_id"]:checked').val()
                    if (invite_chat != undefined)
                        self.addChat(invite_chat)
                })
                ajax_api("friends.getInviteChats", {
                    invite_user: id
                }).then(function (response) {
                    $$('.popup.person_add .preloader_cont').hide();
                    response.data.forEach(function (item, i, arr) {
                        $$('.person_add_list ul').append('<li>' +
                            '<label class="item-radio item-content">' +
                            '<input type="radio" name="chat_id" value="' + item["id"] + '" />' +
                            '<i class="icon icon-radio"></i>' +
                            '<div class="item-media"><img src="' + (item["avatar"] === null ? '/img/not_pictured.jpg' : item['avatar']) + '" width="44" /></div>' +
                            '<div class="item-inner">' +
                            '<div class="item-title-row">' +
                            '<div class="item-title">' + item["title"] + '</div>' +
                            '</div>' +
                            '</div>' +
                            '</label>' +
                            '</li>');
                    });
                })
            },
            addChat: function (invite_chat) {
                var self = this;
                ajax_api("chat.addFriend", {
                    'chat_id': invite_chat,
                    'user_id': self.invite_user,
                }).then(function (response) {
                    if (response.error_title) alert_app(response.error_title);
                    if (response.adden) {
                        alert_app('Пользователь добавлен!');
                        self.$app.popup.close();
                    }
                })
            },
        },
    }
</script>