<div class="page" data-name="im">


    <!-- Views/Tabs container -->
    <div class="views tabs safe-areas view-im-center">
        <!-- Tabbar for switching views-tabs -->
        <div class="toolbar toolbar-bottom tabbar-labels">
            <div class="toolbar-inner">
                <a href="#view-im" class="tab-link tab-link-active">
                    <i class="icon f7-icons if-not-md">house_fill</i>
                    <i class="icon material-icons if-md">home</i>
                    <span class="tabbar-label">Сообщения</span>
                </a>
                <a href="#view-friends" class="tab-link">
                    <i class="icon f7-icons if-not-md">square_list_fill</i>
                    <i class="icon material-icons if-md">view_list</i>
                    <span class="tabbar-label">Друзья</span>
                </a>
                <a href="#cv" class="tab-link">
                    <i class="icon f7-icons if-not-md">gear</i>
                    <i class="icon material-icons if-md">settings</i>
                    <span class="tabbar-label">Профиль</span>
                </a>
            </div>
        </div>




        <!-- Your main view/tab, should have "view-main" class. It also has "tab-active" class -->
        <div id="view-im" class="view view-im view view-main tab tab-active">
            <div class="page" data-name="im">
                <!-- Top Navbar -->
                <div class="navbar">
                    <div class="navbar-bg"></div>
                    <div class="navbar-inner">
                        <div class="title">Сообщения</div>
                        <div class="right">
                            <!-- Link to enable searchbar -->
                            <a class="link icon-only searchbar-enable" data-searchbar=".searchbar">
                                <i class="icon f7-icons if-not-md">search</i>
                                <i class="icon material-icons md-only">search</i>
                            </a>
                        </div>
                        <form data-search-container=".chat-list" data-search-item="li" data-search-in=".item-title" class="searchbar searchbar-init searchbar-expandable">
                            <div class="searchbar-inner">
                                <div class="searchbar-input-wrap">
                                    <input type="search" placeholder="Поиск по диалогам" />
                                    <i class="searchbar-icon"></i>
                                    <span class="input-clear-button"></span>
                                </div>
                                <span class="searchbar-disable-button if-not-aurora">Cancel</span>
                            </div>
                        </form>
                    </div>
                </div>


                <!-- Scrollable page content-->
                <div class="page-content">
                    <a class="link" href="/tabs/">tabs</a>






                    <div class="list media-list chat-list no-margin">
                        <ul>

                        </ul>
                    </div>

                </div>
            </div>
        </div>


        <div id="view-friends" class="view view-init tab view-friends">

            <div class="page" data-name="friends">
                <!-- Top Navbar -->
                <div class="navbar">
                    <div class="navbar-bg"></div>
                    <div class="navbar-inner">
                        <div class="title sliding">Друзья</div>
                        <div class="right">
                            <a href="#" class="link gl-search"><i class="material-icons">add</i></a>


                        </div>

                        <div class="subnavbar">
                            <form data-search-container=".friends-list" data-search-item="li"
                                data-search-in=".card-header" class="searchbar searchbar-init">
                                <div class="searchbar-inner">
                                    <div class="searchbar-input-wrap">
                                        <input type="search" placeholder="Поиск" />
                                        <i class="searchbar-icon"></i>
                                        <span class="input-clear-button"></span>
                                    </div>
                                    <span class="searchbar-disable-button if-not-aurora">Отмена</span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="page-content">
                    <div class="list friends-requests">
                    </div>

                    <div class="list simple-list searchbar-not-found">
                        <ul>
                            <li>
                                <div class="card">
                                    <div style="background-image:url('/apple-touch-icon.png')"
                                        class="card-header align-items-flex-end friends-name white"></div>
                                    <div class="card-content">
                                        <div class='card-content-item'>Нет друзей</div>
                                    </div>
                                    <div class="card-footer">
                                        <a href="#" class="link">Глобальный поиск</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list friends-list">
                    </div>
                </div>
            </div>

        </div>



        <div class="tab page-content" id="cv">

            <div class="page profile" data-name="im">
                <!-- Top Navbar -->
                <div class="navbar">
                    <div class="navbar-bg"></div>
                    <div class="navbar-inner">
                        <div class="left">

                        </div>
                        <div class="title sliding">Ваш профиль</div>
                        <div class="right">
                            <a href="#" class="link log-out"><i class="material-icons">exit_to_app</i></a>
                        </div>
                    </div>
                </div>

                <!-- Scrollable page content-->
                <div class="page-content">


                    <div class="card profile-card">
                        <div style="background-image:url('/apple-touch-icon.png')"
                            class="card-header align-items-flex-end friends-name white">Место для логина</div>
                        <div class="card-content">
                            <div class="card-content-link edit-name">Изменить имя</div>
                            <div class="card-content-link edit-avatar">Изменить фото</div>
                            <div class="card-content-link edit-password">Изменить пароль</div>
                        </div>
                    </div>

                    <div class="card profile-card">
                        <div style="background-image:url('/apple-touch-icon.png')"
                            class="card-header align-items-flex-end friends-name white">Место для логина</div>
                        <div class="card-content">
                            <div class="card-content-link">Добавить в друзья</div>
                            <div class="card-content-link red">Отклонить заявку</div>
                            <div class="card-content-link">Написать</div>
                            <div class="card-content-link">Пригласить</div>
                            <div class="card-content-link red">Удалить из друзей</div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-content">
                            <div class="list media-list">
                                <ul>
                                    <li class="item-content">
                                        <div class="item-media"><img class="user-ava" src="" width="80" /></div>
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title user-name">Денис</div>
                                            </div>
                                            <div class="item-subtitle"><a href="#" class="link edit-name">Изменить
                                                    имя</a></div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="card-footer"><a href="#" class="link edit-avatar">Изменить фото</a><a href="#"
                                class="link edit-password">Изменить пароль</a></div>
                    </div>
                </div>
            </div>

        </div>

    </div>


</div>
