<div class="page messages-page" data-name="messages">
    <div class="navbar">
        <div class="navbar-bg"></div>
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-back"></i>
                    <span class="if-not-md">Back</span>
                </a>
            </div>
            <div class="title">Диалог</div>
            <div class="date_create display-none"></div>
            <div class="right">
                <a class="link popover-open person_add" href="#" data-popover=".popover-links"><i class="material-icons">person_add</i></a>
                <a class="link popover-open more_vert" href="#" data-popover=".popover-links"><i class="material-icons">more_vert</i></a>

                <div class="popover popover-links">
                    <div class="popover-inner">
                        <div class="list">
                            <ul>
                                <li><a class="list-button item-link info" href="#">Информация</a></li>
<!--                                <li><a class="list-button item-link" href="#">Вложения</a></li>-->
                                <li><a class="list-button item-link exit" href="#">Выйти из чата</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="toolbar messagebar">
        <div class="toolbar-inner">
            <div class="messagebar-area">
                <textarea class="resizable" placeholder="Сообщение"></textarea>
            </div><a class="link send-link" href="#"><i class="material-icons">send</i></a>
        </div>
    </div>
    <div class="page-content messages-content">

        <div class="block block-strong text-align-center">
            <div class="preloader color-blue"></div>
        </div>

        <div class="messages">

        </div>
    </div>
</div>


