<template>
    <div class="page" id='view-user'>
        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="if-not-md">Back</span>
                    </a>
                </div>
                <div class="title">{{this.name}}</div>
            </div>
        </div>
        <div class="page-content">
            <div class="user-container">
                <div class="user-item">
                    {{#js_if "this.id != null"}}
                    <div class="card profile-card">
                        <div @click='openAvatar()' style="background-image:url({{this.avatar}})"
                            class="card-header align-items-flex-end users-name white">{{this.name}}</div>
                        <div class="card-content">
                            <div class='list'>
                                <ul class='profile'>
                                    {{#js_if "this.city != null"}}
                                    <li>
                                        <a href="#" class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title info">
                                                    <div class="item-header">Город</div>
                                                    {{this.city}}
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    {{/js_if}}
                                    {{#js_if "this.faculty != null"}}
                                    <li>
                                        <a href="#" class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title info">
                                                    <div class="item-header">Факультет</div>
                                                    {{this.faculty}}
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    {{/js_if}}
                                    {{#js_if "this.study_group != null"}}
                                    <li>
                                        <a href="#" class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title info">
                                                    <div class="item-header">Студенческая группа</div>
                                                    {{this.study_group}}
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    {{/js_if}}
                                    {{#js_if "this.about != null"}}
                                    <li>
                                        <a href="#" class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title info">
                                                    <div class="item-header">О себе</div>
                                                    {{this.about}}
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    {{/js_if}}
                                    <li>
                                        <a href="/friends/{{id}}/" class="item-link item-content">
                                            <div class="item-inner">
                                                <div class="item-title">Друзья</div>
                                                <div class="item-after">
                                                    {{this.count}}
                                                    {{#js_if "this.mutual != 0"}}
                                                    (общие {{this.mutual}})
                                                    {{/js_if}}
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class='separator'></div>
                            {{#js_if "this.type == 0"}}
                            <div class="card-content-link" @click='addFriend({{id}})'>Добавить в друзья</div>
                            {{/js_if }}
                            {{#js_if "this.type == 1"}}
                            <div class="card-content-link" @click='acceptRequest({{id}}, 2)'>Добавить в друзья</div>
                            <div class="card-content-link red" @click='acceptRequest({{id}}, 0)'>Отклонить заявку
                            </div>
                            {{/js_if }}
                            {{#js_if "this.type == 2"}}
                            <div class="card-content-link"><a href='/messages/{{id}}/'>Написать</a></div>
                            <div class="card-content-link" @click='inviteChat({{id}})'>Пригласить</div>
                            <div class="card-content-link red" @click='deleteFriend({{id}})'>Удалить из друзей</div>
                            {{/js_if }}
                            {{#js_if "this.type == 4"}}
                            <div class="card-content-link red" @click='deleteFriend({{id}})'>Отменить заявку
                            </div>
                            {{/js_if }}
                        </div>
                    </div>
                    {{/js_if }}
                </div>
            </div>
            <div class="list simple-list searchbar-not-found">
                <ul>
                    <li>
                        <div class="card">
                            <div style="background-image:url('/apple-touch-icon.png')"
                                class="card-header align-items-flex-end friends-name white"></div>
                            <div class="card-content">
                                <div class='card-content-item'>Нет пользователя</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="notes-container">
                <div class="card notes-item">
                    <div class="card-header">Новая заметка</div>
                    <div class="text-editor notes-editor-init">
                        <div class="text-editor-content" contenteditable></div>
                    </div>
                    <div class="card-footer"><a href="#" class="link" @click='submitNotesEditor'>Отправить</a></div>
                </div>
                {{#each notesArray}}
                <div class="card notes-item">
                    <div class="card-header">
                        <div class="notes-item-avatar"><img src="{{this.avatar}}" width="34" height="34" />
                        </div>
                        <div class="notes-item-name">{{this.name}}</div>
                        <div class="notes-item-date">{{this.date}}</div>
                    </div>
                    <div class="card-content card-content-padding">
                        <p>{{this.text}}</p>
                    </div>
                    {{#js_if "this.from_id == window.localStorage.getItem('id')"}}
                    <div class="card-footer"><a href="#" class="link" @click='deleteNotes({{this.id}})'>Удалить</a>
                    </div>
                    {{/js_if}}
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</template>
<script>
    return {
        mounted() {
            this.getData(this.$route.params.id)
            var self = this;
            var notesEditor = app.textEditor.create({
                el: '.notes-editor-init',
                mode: 'popover',
                buttons: ["bold", "italic", "underline", "strikeThrough"],
                placeholder: 'Введите текст...',
            })
            self.$setState({ notesEditor: notesEditor })
        },
        data: function () {
            return {
                name: 'Профиль',
                type: null,
                avatar: null,
                id: null,
                invite_user: null,
                city: null,
                faculty: null,
                study_group: null,
                about: null,
                count: null,
                mutual: null,
                notesEditor: null,
                notesArray: [],
                likeSet: false,
                likeCount: 0,
            }
        },
        methods: {
            openAvatar: function () {
                var self = this;
                var openAvatarItem = app.photoBrowser.create({
                    photos: [
                        this.avatar
                    ],
                    type: 'popup',
                    popupCloseLinkText: 'Закрыть',
                    renderToolbar: () => '<div class="toolbar toolbar-bottom tabbar"><div class="toolbar-inner"><a class="link like">' + this.likeCount + ' <i class="f7-icons">' + (!this.likeSet ? 'heart' : 'heart_fill') + '</i>' + '</a></div></div>',
                    on: {
                        opened: function () {
                            $$('.tabbar .toolbar-inner .like')[0].innerHTML = self.likeCount + ' <i class="f7-icons">' + (!self.likeSet ? 'heart' : 'heart_fill') + '</i>'
                        }
                    }
                });
                openAvatarItem.open()

                $$('.tabbar .toolbar-inner .like').on('click', function () {
                    this.innerHTML = parseInt(self.likeCount) + (self.likeSet ? -1 : 1) + ' <i class="f7-icons">' + (self.likeSet ? 'heart' : 'heart_fill') + '</i>'
                    self.$setState({ likeSet: !self.likeSet, likeCount: parseInt(self.likeCount) + (self.likeSet ? -1 : 1) })
                    self.toggleLike()
                })
            },
            toggleLike: function () {
                var self = this;
                ajax_api("friends.like.toggle", {
                    to_id: self.id
                }).then(function (response) {
                    if (response.error !== undefined)
                        self.$app.dialog.alert(response.error.messages);
                })
            },
            getData: function (id) {
                var self = this;
                ajax_api("friends.getUser", {
                    user_id: id
                }).then(function (response) {
                    console.log(response)
                    if (response.user === false)
                        $$('#view-user .searchbar-not-found').css('display', 'block');
                    else
                        self.$setState({
                            name: response.user.name,
                            avatar: response.user.avatar,
                            type: response.user.type,
                            id: response.user.id,
                            city: response.user.city,
                            faculty: response.user.faculty,
                            study_group: response.user.study_group,
                            about: response.user.about,
                            count: response.user.count,
                            mutual: response.user.mutual,
                            notesArray: response.notes,
                            likeSet: response.user.likeSet,
                            likeCount: response.user.likeCount,
                        });
                })
            },
            deleteFriend: function (id) {
                var self = this;
                ajax_api("friends.deleteFriend", {
                    to: id
                }).then(function (response) {
                    if (response.error !== undefined)
                        self.$app.dialog.alert(response.error.messages);
                    else
                        self.getData()
                })
            },
            acceptRequest: function (id, type) {
                var self = this;
                ajax_api("friends.acceptRequest", {
                    from: id,
                    type: type
                }).then(function (response) {
                    if (response.error !== undefined)
                        self.$app.dialog.alert(response.error.messages);
                    else
                        self.getData()
                })
            },
            addFriend: function (id) {
                var self = this;
                ajax_api("friends.addFriend", {
                    to: id
                }).then(function (response) {
                    if (response.error !== undefined)
                        self.$app.dialog.alert(response.error.messages);
                    else
                        self.getData()
                })
            },
            inviteChat: function (id) {
                var self = this;
                self.$setState({
                    invite_user: id
                });
                self.$app.popup.create({
                    content: '<div class="popup person_add">' +
                        '<div class="toolbar">' +
                        '<div class="toolbar-inner">' +
                        '<div class="left"></div>' +
                        '<div class="right">' +
                        '<a class="link popup-close">Закрыть</a>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '<div class="popup-modal-inner">' +
                        '<div class="block ">' +
                        '<div class="block-title">Добавить друга в чат:</div>' +
                        '<div class="block block-strong text-align-center preloader_cont"><div class="preloader color-multi"><span class="preloader-inner"><span class="preloader-inner-gap"></span><span class="preloader-inner-left"><span class="preloader-inner-half-circle"></span></span><span class="preloader-inner-right"><span class="preloader-inner-half-ircle"></span></span>  </span></div></div>' +
                        '<div class="list media-list person_add_list">' +
                        '<ul>' +
                        '</ul>' +
                        '<div class="block float-right"><button class="col button button-outline addChatUser">Добавить</button></div>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '</div>'
                }).open();
                $$('.addChatUser').on('click', function () {
                    let invite_chat = $$('.person_add_list input[name="chat_id"]:checked').val()
                    if (invite_chat != undefined)
                        self.addChat(invite_chat)
                })
                ajax_api("friends.getInviteChats", {
                    invite_user: id
                }).then(function (response) {
                    $$('.popup.person_add .preloader_cont').hide();
                    response.data.forEach(function (item, i, arr) {
                        $$('.person_add_list ul').append('<li>' +
                            '<label class="item-radio item-content">' +
                            '<input type="radio" name="chat_id" value="' + item["id"] + '" />' +
                            '<i class="icon icon-radio"></i>' +
                            '<div class="item-media"><img src="' + (item["avatar"] === null ? '/img/not_pictured.jpg' : item['avatar']) + '" width="44" /></div>' +
                            '<div class="item-inner">' +
                            '<div class="item-title-row">' +
                            '<div class="item-title">' + item["title"] + '</div>' +
                            '</div>' +
                            '</div>' +
                            '</label>' +
                            '</li>');
                    });
                })
            },
            addChat: function (invite_chat) {
                var self = this;
                ajax_api("chat.addFriend", {
                    'chat_id': invite_chat,
                    'user_id': self.invite_user,
                }).then(function (response) {
                    if (response.error_title) alert_app(response.error_title);
                    if (response.adden) {
                        alert_app('Пользователь добавлен!');
                        self.$app.popup.close();
                    }
                })
            },
            submitNotesEditor: function () {
                let notesValue = this.notesEditor.getValue()
                to = this.id
                var self = this;
                if (notesValue == '')
                    self.$app.dialog.alert('Введите текст...', 'Новая заметка');
                else {
                    ajax_api("user.notes.add", {
                        to: to,
                        text: notesValue
                    }).then(function (otv) {
                        if (otv.success == 1) {
                            self.getData(self.$route.params.id)
                            self.notesEditor.setValue('')
                        }

                    },
                        function (error) { });
                }
            },
            deleteNotes: function (id) {
                var self = this;
                ajax_api("user.notes.delete", {
                    notes_id: id,
                }).then(function (otv) {
                    if (otv.success == 1) {
                        self.getData(self.$route.params.id)
                    }
                },
                    function (error) { });
            }
        },
    }
</script>