/* iOS Cordova Tweak */

.device-cordova.device-ios {
    height: 100vh;
}

.message-content {
    position: relative;
}

.love {
    font-size: 0.9rem;
    color: #ff4f8f;
}

.wrapper {
    position: absolute;
    top: 17px;
}

.wrapper.wr-received {
    right: -40px;
}

.wrapper.wr-sent {
    left: -50px;
}

.wrapper .like-button {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-decoration: none;
    overflow: hidden;
}

.wrapper .like-button .like-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ff4f8f;
    transform: scale(0);
    transition: all 0.4s;
    z-index: 0;
}

.wrapper .like-button i.not-liked {
    display: block;
    color: #fff;
    position: relative;
    z-index: 1;
}

.wrapper .like-button i {
    font-size: 14px;
}

.wrapper .like-button i.is-liked {
    display: none;
    color: #fff;
    position: relative;
    z-index: 1;
}

.wrapper .like-button.is-active .like-overlay {
    transform: scale(1);
}

.wrapper .like-button.is-active i.not-liked {
    display: none;
}

.wrapper .like-button.is-active i.is-liked {
    display: block;
}

.wrapper .num {
    position: absolute;
    right: -15px;
    top: 1px;
    margin: 0;
    font-weight: 600;
    color: #ff06cf;
}

@-webkit-keyframes bouncy {
    from, to {
        -webkit-transform: scale(1, 1);
    }
    25% {
        -webkit-transform: scale(0.9, 1.1);
    }
    50% {
        -webkit-transform: scale(1.1, 0.9);
    }
    75% {
        -webkit-transform: scale(0.95, 1.05);
    }
}

@keyframes bouncy {
    from, to {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(0.9, 1.1);
    }
    50% {
        transform: scale(1.1, 0.9);
    }
    75% {
        transform: scale(0.95, 1.05);
    }
}

.bouncy {
    -webkit-animation: bouncy 0.6s;
    animation: bouncy 0.6s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.link-button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #6dacff;
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
}

.link-button img {
    width: 32px;
    height: 32px;
    display: block;
}

.link-button:hover {
    transform: scale(1.1) rotate(180deg);
    background: #ff4f8f;
}

.demo-card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.demo-card-header-pic .card-content-padding .date {
    color: #8e8e93;
}

.item-media .ava {
    width: 80px;
}

.none-friends {
    width: 100%;
    margin: 25% 0;
    text-align: center;
    color: #ccc;
    font-size: 14px;
}

.friend-del {
    width: 100px;
    float: right;
}

.list .item-title {
    width: 75%;
}

.list .item-after {
    position: absolute;
    top: 12px;
    right: 30px;
}

.users-list, .simple-list, .users-requests {
    margin: 8px 0;
}

.users-list>ul, .simple-list>ul, .users-requests>ul {
    height: 100% !important;
    /* padding-top: 1px;
    padding-bottom: 1px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
}

.user-container,
.notes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
}

.users-list>ul>li, .simple-list>ul>li, .users-requests>ul>li, .user-container>.user-item, .notes-container>.notes-item {
    width: 100%;
    height: 100%;
    padding: 0;
}

.users-list>ul::after, .simple-list>ul::after, .users-requests>ul::after {
    display: none;
}

.users-list>ul::before, .simple-list>ul::before, .users-requests>ul::before {
    display: none;
}

@media (min-width: 1200px) {
    .users-list>ul>li, .simple-list>ul>li, .users-requests>ul>li, .user-container>.user-item, .notes-container>.notes-item {
        width: 25%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .users-list>ul>li, .simple-list>ul>li, .users-requests>ul>li, .user-container>.user-item, .notes-container>.notes-item {
        width: 33%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .users-list>ul>li, .simple-list>ul>li, .users-requests>ul>li, .user-container>.user-item, .notes-container>.notes-item {
        width: 50%;
    }
}

.users-list>ul>li .card-header, .simple-list>ul>li .card-header, .users-requests>ul>li .card-header, .simple-list>ul>li .card-header {
    height: 200px;
    background-size: cover;
    background-position: center;
}

.users-name.black {
    color: #000;
}

.users-name.white {
    color: #fff;
}

.users-list>ul>li .card {
    margin: 5px;
}

.simple-list>ul>li .card {
    width: 100%;
    top: 80px;
    position: initial;
}

.simple-list>ul>li .card .card-footer {
    justify-content: center;
}

.card-content-item {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.profile-card>.card-header {
    height: 200px;
    background-size: cover;
    background-position: center;
}

.profile-card>.card-content>.card-content-link, .users-requests>ul>li .card .card-content>.card-content-link, .users-list>ul>li .card .card-content>.card-content-link {
    height: 48px;
    color: var(--f7-theme-color);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 16px;
    border-bottom: 1px solid var(--f7-list-border-color);
    cursor: pointer;
}

.profile-card>.card-content>.card-content-link:last-child, .users-requests>ul>li .card .card-content>.card-content-link:last-child, .users-list>ul>li .card .card-content>.card-content-link:last-child {
    border-bottom: none;
}

.profile-card>.card-content>.card-content-link.red, .users-requests>ul>li .card .card-content>.card-content-link.red, .users-list>ul>li .card .card-content>.card-content-link.red, .friend-delete.red {
    color: #ff0000;
}

#view-friends>.navbar>.navbar-inner>form {
    margin-bottom: 0;
}

.separator {
    border-top: 1px solid var(--f7-list-border-color);
    height: 1px;
    width: 100%;
}

.list .item-title.info {
    white-space: normal;
    overflow: initial;
    color: #000;
}

.list ul ul.profile {
    padding: 0;
}

.item-title.filter {
    width: 100%;
    text-align: center;
    font-weight: 700;
    color: var(--f7-theme-color);
}

.list .item-title.item-floating-label {
    width: auto;
}

.notes-item .card-header {
    display: block;
    padding: 10px;
}

.notes-item .notes-item-avatar {
    float: left;
}

.notes-item .notes-item-name {
    margin-left: 44px;
    font-size: 14px;
    font-weight: 500;
}

.notes-item .notes-item-date {
    margin-left: 44px;
    font-size: 13px;
    color: #8e8e93;
}

.notes-item .card-footer {
    background: #fafafa;
}

.notes-item .card-footer a {
    color: #81848b;
    font-weight: 500;
}

.notes-item .card-content img {
    display: block;
}

.notes-item .card-content-padding {
    padding: 15px 10px;
}

.notes-item .card-content-padding .likes {
    color: #8e8e93;
}

.notes-item .text-editor {
    margin: 0;
    border: 0;
    height: auto;
}

.like {
    flex-direction: row !important;
    display: flex !important;
}